<!DOCTYPE html>
<html>
<head>
	<title>MYWEBSITE</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/stylesheets/normalize.css">
	<link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>
	<section id="write">
		<article>
			<form method="POST" action="/edit_ok/{{id}}">
				<input type="submit" value="수정하기">
				<input type="text" name="title" placeholder="제목" value="{{article[0]}}" required>
				<textarea name="body" value="{{article[1]}}" placeholder="내용을 입력해주세요." required></textarea>
			</form>
		</article>
	</section>
</body>
</html>