<!DOCTYPE html>
<html>
<head>
	<title>MYWEBSITE - {{article[0]}}</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/stylesheets/normalize.css">
	<link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body id="view">
	<header>
		<h1>{{article[0]}}</h1>
		<div class="line"></div>
	</header>
	<section id="list">
		<article>
			<p>{{article[1]}}</p>
		</article>
		<article class="comment">
			<p class="cnt">{{0}}개의 댓글이 있습니다.</p>
			<form method="POST" action="">
				<input type="hidden" name="id" value="{{article_id}}">
				<input type="text" name="nickname" placeholder="닉네임" required>
				<textarea name="commentbody" placeholder="댓글을 입력해주세요." required></textarea>
				<a href="/view/{{article[4]}}/comment_ok"><input type="submit" value="댓글 달기"></a>
			</form>
			<div class="wrapper">
				<p>{{comment_body}}</p>
				<p>{{comment_name}}</p>
				<p>{{comment_timestamp}}</p>
			</div>
		</article>
	</section>
</body>
</html>